body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
}
.examples {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.black-awsome-dropdown {
  display: inline-block;
  position: relative;
  margin: 5px;
  width: fit-content;
  /* width: 10px; */
  /* background-color: black; */
  /* border-radius: 5px; */

}
.black-awsome-dropdown > :nth-child(1) {
  background-color: black;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
  cursor: pointer;
  /* width: fit-content; */
}
.black-awsome-dropdown > :nth-child(1) > :nth-child(2) {
  transform: rotate(0deg);
  transition: transform 100ms ease-in-out;
}
.black-awsome-dropdown > :nth-child(2) {
  position: absolute;
  display: inline-block;
  
  min-width: 100%;
  max-width: fit-content;
  /* width: 100%; */
  left: 0px;
  overflow: hidden;
  z-index: 2;
}

.black-awsome-dropdown > :nth-child(2) > ul {
  width: 100%;
  position: relative;
  padding-left: 0px;
  margin: 0;
  transition: transform 100ms ease-in-out;
  transform: translateY(-100%);
}
.black-awsome-dropdown > :nth-child(2) > ul > li {
  background-color: white;
  color: black;
  list-style-type: none;
  padding: 5px 15px;
  text-align: left;
}
.black-awsome-dropdown > :nth-child(2) > ul > li:hover {
  background-color: rgb(194, 194, 194);
}
.black-awsome-dropdown > :nth-child(2) > ul > li:active {
  background-color: rgb(51, 51, 51);
  color: white;
}
.black-awsome-dropdown.clicked > :nth-child(2) > ul {
  transform: translateY(0px);
}
.black-awsome-dropdown.clicked > :nth-child(1) > :nth-child(2) {
  transform: rotate(180deg);
}
