/* body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
}
.examples {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
} */

.awsome-dropdown {
  display: inline-block;
  position: relative;
  margin: 5px;
  width: fit-content;
}
.awsome-dropdown > :nth-child(1) {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  font-size: smaller;
  font-weight: bolder;
}

.awsome-dropdown > :nth-child(2) {
  position: absolute;
  display: inline-block;
  min-width: 100%;
  max-width: fit-content;
  left: 0px;
  overflow-y: hidden;
  z-index: 2;
  pointer-events: none;
}

.awsome-dropdown > :nth-child(2) > ul {
  width: 100%;
  position: relative;
  padding-left: 0px;
  margin: 0;
  transition: transform 100ms ease-in-out;
  transform: translateY(-100%);
  border: 1px solid rgba(0, 0, 0, 0.062);
  border-top: 0px;
  box-sizing: border-box;
}
.awsome-dropdown > :nth-child(2) > ul > li {
  background-color: rgb(255, 255, 255);
  color: black;
  list-style-type: none;
  padding: 5px 15px;
  text-align: left;
}
.awsome-dropdown > :nth-child(2) > ul > li:hover {
  background-color: rgb(194, 194, 194);
}
.awsome-dropdown > :nth-child(2) > ul > li:active {
  background-color: rgb(51, 51, 51);
  color: white;
}
.awsome-dropdown.clicked > :nth-child(2) {
  pointer-events: all;
}
.awsome-dropdown.clicked > :nth-child(2) > ul {
  transform: translateY(0px);
}

/* BLACK */
.flip-aw > :nth-child(1) {
  background-color: black;
  color: aliceblue;
}
.flip-aw > :nth-child(1) > :nth-child(2) {
  transform: rotateX(0deg);
  transition: transform 300ms ease-in-out;
}
.flip-aw.clicked > :nth-child(1) > :nth-child(2) {
  transform: rotateX(180deg);
}
/* DISCO */
.zoom-out-aw > :nth-child(1) {
  background-color: rgb(181, 170, 219);
  color: rgb(0, 0, 0);
}
.zoom-out-aw > :nth-child(1) > :nth-child(2) {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.zoom-out-aw.clicked > :nth-child(1) > :nth-child(2) {
  transform: scale(0);
}

/* TO-TOP */
.to-top-aw > :nth-child(1) {
  background-color: rgb(196, 238, 210);
  color: rgb(0, 0, 0);
}
.to-top-aw > :nth-child(1) > :nth-child(2) {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}
.to-top-aw.clicked > :nth-child(1) > :nth-child(2) {
  transform: translateY(-150%);
}
/* TO-LEFT */
.to-left-aw > :nth-child(1) {
  background-color: rgb(233, 171, 171);
  color: rgb(0, 0, 0);
}
.to-left-aw > :nth-child(1) > :nth-child(2) {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}
.to-left-aw.clicked > :nth-child(1) > :nth-child(2) {
  transform: translateX(200%) rotate(180deg);
}
